body {
    margin: 10px auto;
    position: absolute;
    width: 575px;
    height: 385px;

    background: #1B244A;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.home-title {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    top: calc(50% - 36px/2 - 106.5px);

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
    margin: 0px 341px 281px 0px;
}

.away-title {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 340px;
    top: calc(50% - 36px/2 - 106.5px);

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
    margin: 0 86px 281px 0px;
}

.home-score {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 135px;
    background-color: #080001;
    margin: -20px 0px 140px -90px;
    padding: 10px;
    border-radius: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.away-score {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 337px;
    top: 135px;
    background-color: #080001;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: -20px 338px 140px -336px;
    padding: 10px;
    border-radius: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
}

@font-face {
    font-family: timer;
    src: url(timer.ttf);
}

@font-face {
    font-family: basketball;
    src: url(Basketball.otf);
}

.home-points-text {
    position: absolute;
    width: 117px;
    height: 120px;
    left: 60px;
    top: calc(50% - 120px/2 - 7.5px);

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 205px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
    margin: -110px 0px 140px -40px;
    padding: 0 20px 0 0;
    font-family: timer;
}

.away-points-text {
    position: absolute;
    width: 117px;
    height: 120px;
    left: 355px;
    top: calc(50% - 120px/2 - 7.5px);

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 205px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
    margin: -110px 338px 140px -345px;
    padding: 5px 10px 5px -5px;
    font-family: timer;
}

.add-points-btn-home {
    position: absolute;
    display: flex;
    width: 45px;
    height: 48px;
    left: -80px;
    top: 171px;
}

.add-points-btn-away {
    position: absolute;
    display: flex;
    width: 45px;
    height: 48px;
    left: -320px;
    top: 171px;
}

.hb1 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;
    
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 82px;
    top: calc(50% - 45px/2 + 101px);

    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 1px;
    
    /* +1 */


    position: absolute;
    width: 30px;
    height: 25.77px;
    left: 89px;
    top: calc(50% - 25.77px/2 + 100.38px);

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background: #1B244A;
    font-family: timer;
}

.hb2 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: 271px;
    
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: calc(50% - 45px/2 + 101px);

    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 1px;
    
    /* +2 */


    position: absolute;
    width: 30px;
    height: 25.77px;
    left: 143px;
    top: calc(50% - 25.77px/2 + 100.38px);

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background: #1B244A;
    font-family: timer;
}

.hb3 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 192px;
    top: 271px;
    
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 192px;
    top: calc(50% - 45px/2 + 101px);

    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 1px;
    
    /* +3 */


    position: absolute;
    width: 30px;
    height: 25.77px;
    left: 199px;
    top: calc(50% - 25.77px/2 + 100.38px);

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background: #1B244A;
    font-family: timer;
}

.ab1 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;

    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 82px;
    top: calc(50% - 45px/2 + 101px);

    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 1px;
    
    /* +1 */


    position: absolute;
    width: 30px;
    height: 25.77px;
    left: 344px;
    top: calc(50% - 25.77px/2 + 100.38px);

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background: #1B244A;
    font-family: timer;
}

.ab2 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: 271px;

    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: calc(50% - 45px/2 + 101px);

    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 1px;
    
    /* +2 */

    position: absolute;
    width: 30px;
    height: 25.77px;
    left: 398px;
    top: calc(50% - 25.77px/2 + 100.38px);

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background: #1B244A;
    font-family: timer;
}

.ab3 {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 192px;
    top: 271px;

    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 192px;
    top: calc(50% - 45px/2 + 101px);

    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 1px;
    
    /* +3 */


    position: absolute;
    width: 30px;
    height: 25.77px;
    left: 454px;
    top: calc(50% - 25.77px/2 + 100.38px);

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background: #1B244A;
    font-family: timer;
}

.reset {
    font-family: basketball;
    color: #9AABD8;
    font-size: 35px;
    margin: 10px;
    padding: 5px 50px;
    border: 2px solid #F94F6D;
    border-radius: 30px;
}